html,
body {
  background-size: cover;
  height: 100%;
  width: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.allskills{
    margin:10px;
    transition: all 1s;
}

img:hover{
    transform: scale(1.2);
}


.navbar{
    padding: 17px;
}
.navbar-brand{
    padding: 20px;
    font-size: 25px;

}

.nav-item{
    padding: 10px;
}


.cover_image{
    max-width: 16%;
    padding-right: 100px;
}

.jumbotron
{
    height: 670px;
    padding-left: 100px;
}

.lead{
    font-size: 40px;
}


.about_me_cover{
    height: 760px;
    background-color: red;
}


.skills{
    font-size: 55px;
    font-weight: 1000;
    text-align: center;
    padding-top: 30px;
}

.display-4{
    margin-top: 170px;
    font-weight: 1000;
    font-size: 80px;
}
.redText 
{ 
    color: red; 
    font-weight: 1000;
} 

