html,
body {
  background-size: cover;
  height: 100%;
  width: 100%;
}

.jumbotron
{
    height: 600px;
    padding-left: 100px;
    background-color:white;
}

.lead{
    font-size: 40px;
}

.container{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.allskills{
    margin:10px;
    transition: all 1s;
}

img:hover{
    transform: scale(1.2);
}


.navbar{
    padding: 17px;
}
.navbar-brand{
    padding: 20px;
    font-size: 25px;

}

.nav-item{
    padding: 10px;
}


.cover_image{
    max-width: 16%;
    padding-right: 100px;
}

.about_me_cover{
    height: 760px;
    background-color: red;
}

.about_content{
    padding-top: 150px;
    color: white;
}

.assets_cover{
    padding-top: 50px;
    padding-left: 100px;
}

.skills{
    font-size: 55px;
    font-weight: 1000;
    text-align: center;
    padding-top: 80px;
}

.display-4{
    margin-top: 170px;
    font-weight: 1000;
    font-size: 80px;
}

.text_skills{
    margin-top: 80px;
    font-weight: 1000;
    font-size: 80px;
}

.redText 
{ 
    color: red; 
    font-weight: 1000;
} 

