.navbar{
    padding: 17px;
}
.navbar-brand{
    padding: 20px;
}

.nav-item{
    padding: 10px;
}


.cover_image{
    max-width: 16%;
    padding-right: 100px;
}

.jumbotron
{
    height: 650px;
    padding-left: 100px;
}

.lead{
    font-size: 40px;
}

.display-4{
    margin-top: 170px;
    font-weight: 1000;
    font-size: 80px;
}
.redText 
{ 
    color: red; 
} 

